<div class="ds-col-12 ds-align-text-center">

	<div ng-if="showGif == 'ctrl-click'">
		<img class="ds-col-9" src="./gifs/ctrl-click.gif">
	</div>

	<div ng-if="showGif == 'edit-1'">
		<img class="ds-col-9" src="./gifs/edit-1.gif">
	</div>

	<div ng-if="showGif == 'edit-2'">
		<img class="ds-col-9" src="./gifs/edit-2.gif">
	</div>

	<div ng-if="showGif == 'export'">
		<img class="ds-col-9" src="./gifs/export.gif">
	</div>

	<div ng-if="showGif == 'fullscreen'">
		<img class="ds-col-9" src="./gifs/fullscreen.gif">
	</div>

	<div ng-if="showGif == 'record'">
		<img class="ds-col-9" src="./gifs/record.gif">
	</div>

	<div ng-if="showGif == 'show-hide-fields'">
		<img class="ds-col-8" src="./gifs/show-hide-fields.gif">
	</div>

	<div ng-if="showGif == 'manual-filter'">
		<img class="ds-col-9" src="./gifs/manual-filter.gif">
	</div>

	<div ng-if="showGif == 'using-filters-1'">
		<img class="ds-col-9" src="./gifs/using-filters-1.gif">
	</div>

	<div ng-if="showGif == 'using-filters-2'">
		<img class="ds-col-9" src="./gifs/using-filters-2.gif">
	</div>

	<div ng-if="showGif == 'saved-views'">
		<img class="ds-col-9" src="./gifs/saved-views.gif">
	</div>

	<div ng-if="showGif == 'mass-updt'">
		<img class="ds-col-9" src="./gifs/mass-updt.gif">
	</div>
	
	<div ng-if="showGif == 'control-panel-fix'">
		<img class="ds-col-9" src="./gifs/control-panel-fix.gif">
	</div>
	
	<div ng-if="showGif == 'excel-fix'">
		<img class="ds-col-9" src="./gifs/excel-fix.gif">
	</div>
	
	<div ng-if="showGif == 'wc-work-around-1'">
		<img class="ds-col-9" src="./gifs/wc-work-around-1.gif">
	</div>

</div>